*,
*::before,
*::after {
 box-sizing: border-box;
}

html {
 font-family: 'Lato', serif;
 font-weight: 700;
 font-style: normal;
 /* color: var(--primary-base); */
 /* line-height: 1.71428; */
}

body {
 margin: 0;
 padding: 0;
 font-family: Tahoma,
  sans-serif;
 /* min-height: 100vh; */
 /* font-size: 0.875rem; */
}

/* img {
 width: 100%;
} */



a {
 color: var(--primary--2);
 text-decoration: none;
}

a,
button,
.previous-page,
.next-page {
 cursor: pointer;
}