.main-layout {
  grid-template-columns:
    minmax(20px, 1fr) minmax(auto, 954px) minmax(20px, 1fr);
}


.main-layout>*.full {
  grid-column: 1/-1;
}

.main-layout>*:not(.full) {
  grid-column: 2;
}


.cards-layout {
  display: grid;
}

.card {
  display: grid;
  grid-template-areas:
    "img h2"
    "img p1"
    "img button"
  ;
}

.card img {
  grid-area: img;
}

.card .card-title {
  grid-area: h2;
}

.card .card-text {
  grid-area: p1;
}

.card .card-button {
  grid-area: button;
  /* max-width: max-content; */
}

.toggle-menu-btn {
  display: none;
  background-color: #343433;
  color: rgb(5, 195, 5);
  border: 1px solid rgba(173, 86, 5, 0.886);
}