.card:not(:last-of-type) {
  margin-block-end: 5rem;
}

.main-content {
  padding-top: 5rem;

  border: .0625rem solid rgba(225, 224, 224, 1);
  width: 61.25rem;
  height: 78.125rem;
}

.card h2 {
  margin: 0;
  font-size: 1.75em;
  text-transform: uppercase;
  color: #4F4E4E;
  width: 25rem;
}

.card>p {
  width: 27.8125rem;
  height: 7.125rem;
  font-family: 'Lato', serif;
  font-weight: 400;
  font-style: normal;
}

.card>.card-button {
  position: relative;
  align-self: end;
  justify-self: start;
  border: .125rem solid rgba(194, 194, 194, 1);
  border-radius: 1.875rem;
  background-color: rgba(255, 255, 255, 1);
  width: 11.8125rem;
  height: 2.8125rem;
  transition: width 0.3s ease, margin-right 0.3s ease, border-color 0.3s ease,
    color 0.3s ease;
}

.card>.card-button::after {
  content: '\2192';
  position: absolute;
  top: 49%;
  right: 1.875rem;
  transform: translateY(-50%);
  opacity: 0;
  transition: opacity 0.3s ease;
  font-weight: bolder;
}

.card>.card-button:hover::after {
  opacity: 1;
}

.card .card-button:hover {
  border-color: green;
  color: green;
  width: 13.125rem;
}

.card>.card-button span {
  color: #C2C1C1;

}

.card>.card-button:hover span {
  color: green;
}

.page-nav {
  border: .0625rem solid rgba(225, 224, 224, 1);
  border-top: none;
  height: 2.8125rem;
}

/* 
.page-nav .next-page{
 margin-inline-start: 1.8438rem;
}
.page-nav .previous-page{
 margin-inline-start: 1.8438rem;
} */