.main-header {
 height: 130px;
 background-color: var(--primary-1);
}

.main-header .main-nav-list a {
 font-size: 1em;
}

.main-header .logo {
 color: var(--primary--2);
 margin-inline-start: 264px;
 font-size: 2.5em;
 font-family: 'eurofurence',
  sans-serif;
 font-weight: 300;
 font-style: normal;
 width: 85px;
 height: 33px;
 margin-block-end: 0.5em;
 letter-spacing: 0;
}

.main-header .main-nav-list {
 margin-inline-end: 295px;
 gap: 79px;
}

.main-header .logo .logo-dot {
 color: #58C93A;
}

.main-nav-list a {
 position: relative;
 /* Ensure anchors are positioned relatively */
}

.main-nav-list a:hover {
 transition: opacity 0.3s ease;
 color: #58C93A;
}