@media (max-width: 850px) {
  .main-nav {
    position: fixed;
    top: 0;
    right: 0;
    height: 100%;
    background-color: rgb(41, 41, 41, 90%);
    border-inline-start: 1px solid #58C93A;
    min-width: 200px;

    transform: translateX(100%);

    transition: transform 0.6s, box-shadow 0.6s;
  }

  body.menu-open .main-nav {
    box-shadow: -6px 0px 20px rgb(0 0 0 / 25%);
    transform: translateX(0);

  }

  .main-header .main-nav-list {
    margin-inline-start: 0;
  }

  .main-nav .main-nav-list {
    flex-direction: column;
  }


  .main-nav .main-nav-list a {
    display: flex;
    justify-content: center;
    padding: 8px 10px;
    border-block-end: 0;
  }

  .main-nav .main-nav-list a:hover {
    border-block-end: 7px solid #58C93A;
    transition: border-block-end 0.6s ease, color 0.6s ease;
  }

  /* .toggle-menu-btn {
    display: block;
    margin-inline-end: 2rem;
  } */

  #menyAvPaa {
    display: none;
  }

  #menyAvPaa:checked~#meny {
    transform: translateX(0rem);
  }

  #burger {
    position: absolute;
    cursor: pointer;
    width: 2rem;
    height: 2rem;
    right: 1rem;
    top: 2rem;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
  }

  #burger>div {
    height: 2px;
    background-color: #58C93A;
    transition: 0.5s;
    z-index: 999;
  }

  body.menu-open #burger {
    position: fixed;
    top: 5px;
    right: 5px;
  }



  #menyAvPaa:checked~#burger>div {
    background-color: #fff;
  }

  #menyAvPaa:checked~#burger>div:nth-child(1) {
    transform: translateY(15px) rotate(45deg);
  }


  #menyAvPaa:checked~#burger>div:nth-child(2) {
    opacity: 0;
  }

  #menyAvPaa:checked~#burger>div:nth-child(3) {
    transform: translateY(-15px) rotate(-45deg);
  }



  body.menu-open main,
  body.menu-open footer,
  body.menu-open .page-nav {
    z-index: -1;
  }

  body:not(.menu-open) main,
  body:not(.menu-open) footer,
  body:not(.menu-open) .page-nav {
    z-index: 0;
    transition: z-index 1s;
  }

  .promo-modal {
    position: fixed;
    height: 100%;
    width: fit-content;
  }

  form {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }

  form .close-modal {
    width: fit-content;
  }


}

@media (max-width: 1115px) {
  .main-layout {
    grid-template-columns:
      minmax(20px, 1fr) minmax(auto, 1075px) minmax(20px, 1fr);
  }

  .main-header {

    height: 6.5625em;
  }

  .main-header .logo {
    margin-inline-start: 6.25rem;
  }

  .main-header .main-nav-list {
    margin-inline-end: 3.125rem;
  }


  .main-content {
    max-width: 61.25rem;
    width: auto;
    height: auto;
  }

  .main-content h2 {
    margin: 0;
    width: auto;
  }

  .main-content img {
    max-width: 29.25rem;
    width: 45vw;
  }


  .main-content p {
    margin: 0;
    width: auto;
  }

  .card {
    column-gap: .9375rem;
  }

  .card:last-of-type {
    margin-block-end: 3.75rem;
  }

  .main-nav-list a::after {
    bottom: -44px;
  }
}

@media (max-width: 850px) {
  .main-layout {
    grid-template-columns:
      minmax(20px, 1fr) minmax(auto, 810px) minmax(20px, 1fr);
  }

  .main-header .logo {
    margin-inline-start: 2.25rem;
  }

  .main-header .main-nav-list {
    gap: 25px;
  }

  .card {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }

  .card p {
    width: 25rem;
    margin-block-end: 1.875rem;
  }

  .card img {
    min-width: 400px;
  }

  .card h2 {
    margin-block-start: 3.125rem;
    margin-block-end: 1.25rem;
    width: 25rem;
  }

  .card button {
    display: block;
    position: absolute;
    right: 30%;
    top: 30%;
    /* margin-inline-end: 18.75rem; */
    /* margin-block-start: 6.25rem; */
    /* margin-block-end: 1.25rem; */
  }

  .card:last-of-type {
    margin-block-end: 3.75rem;
  }

  small {
    text-align: center;
  }

  .main-nav-list a::after {
    display: none;
  }
}

/* @media (min-width: 68.75rem) {
 .main-layout {
  grid-template-columns:
   minmax(1.25rem, 1fr) minmax(auto, 66.25rem) minmax(1.25rem, 1fr);
  background-color: greenyellow;
 }
} */