@media (max-width: 69.6875rem) {
  .main-layout {
    grid-template-columns:
      minmax(20px, 1fr) minmax(auto, 1075px) minmax(20px, 1fr);
  }

  .main-header {

    height: 6.5625rem;
    width: auto;
  }

  .main-header .logo {
    margin-inline-start: 6.25rem;
  }

  .main-header .main-nav-list {
    margin-inline-end: 3.125rem;
  }


  .main-content {
    max-width: 61.25rem;
    width: auto;
    height: auto;
  }

  .main-content h2 {
    margin: 0;
    width: auto;
  }

  .main-content img {
    max-width: 29.25rem;
    width: 45vw;
  }


  .main-content p {
    margin: 0;
    width: auto;
  }

  .card {
    column-gap: .9375rem;
  }
}

@media (max-width: 53.125rem) {
  .main-layout {
    grid-template-columns:
      minmax(20px, 1fr) minmax(auto, 810px) minmax(20px, 1fr);
  }

  .main-header {

    height: 5.3125rem;
    width: 100vw;
  }




  .card {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }

  .card p {
    width: 25rem;
    margin-block-end: 1.875rem;
  }

  .card img {
    min-width: 22.75rem;
  }

  .card h2 {
    margin-block-start: 3.125rem;
    margin-block-end: 1.25rem;
    width: 25rem;
  }

  .card button {
    position: absolute;
    right: 30%;
    top: 30%;
    transform: translate(-50% -50%);
    /* margin-inline-end: 18.75rem; */
    /* margin-block-start: 6.25rem; */
    /* margin-block-end: 1.25rem; */
  }

  .card:last-of-type button {
    margin-block-end: 3.75rem;
  }
}



/* @media (min-width: 68.75rem) {
 .main-layout {
  grid-template-columns:
   minmax(1.25rem, 1fr) minmax(auto, 66.25rem) minmax(1.25rem, 1fr);
  background-color: greenyellow;
 }
} */