.page-nav {
 border: .0625rem solid rgba(225, 224, 224, 1);
 border-top: none;
 height: 2.8125rem;
}

.page-nav .next-page {
 margin-inline-end: 1.875rem;
 text-transform: uppercase;
 color: #818181;
}

.page-nav .previous-page {
 margin-inline-start: 1.875rem;
 text-transform: uppercase;
 color: #818181;
}